@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #64e1af; 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .pStyling{
    font-family: Arial, Helvetica, sans-serif;
  }

  .countryInputStyling{
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 50px;
  }
  .cityInputStyling{
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .buttonStyling {margin-top: 10px;}
  }

  .searchInputStyling{
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    width: 16rem;
    
  }

  .buttonStyling{
    color: #181818;
	  height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 4px;
    border: none;
    margin-left: 20px;
    background-color: #f0c74b;
    width: 70px;
    cursor: pointer;
  }

  .header{
    background-Color: #cccccc;
    height: 100px;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
  }

  .mainComponentDiv{
    box-shadow: 0px 0px 9px 3px rgba(153, 153, 153, 0.3);
    display: flexbox;
    align-items: center;
    margin:0  auto;
    margin-top: 10%;
    padding-top: 3%;
    border-radius: 4px;
    min-height: 50vh;
}

  .headerText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: "lighter";
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .myComponentStyling{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  .labelDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mainResultDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 30px 30px 0 ;
  }

  .warpperResultDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px;
    left: 30px;
    flex-wrap: wrap;
  }

  .errorMessage{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
    color: #772626;
  }

  .label{
    font-Family: Arial, Helvetica, sans-serif;
    font-Weight: bold;
    border: 1px solid #f0c74b;
    border-radius: 4px; 
    background-Color: rgba(240, 199, 75, 0.5);
    margin: 25px 25px 25px 25px;
    padding: 6px;
    width: 100px;
    text-align: center;
  } 

  .infoText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    text-align: center;
    margin-top: 5px;
  }